<!DOCTYPE html>
<html lang="en">
<head>
   <title>confessions</title>
   <link rel="stylesheet" href="css/home.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">confessions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/about">about us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="main-heading">
        <h1 >CONFESSIONS</h1>
        <p>this is the place where you can tell your secrets to everyone anonymously</p>
    </div>

    <div class="login-register">
        <p>Register with us to post a secret and to see others anonymously. If already registered login and ENJOY</p>
        <div class="buttons">        
            <a  href="/register" role="button" style="padding-right: 40px;">Register</a>
            <a  href="/login" role="button">Login</a> 
        </div>

    </div>

    <div class="procedure">
       <h1 class = "procedure-heading">STEPS TO GET STARTED</h1>
        <p> If not already registered first of all register</p>
        <p>login using your credentials</p>
        <p>then you can see secrets entered by other</p>
        <p>if you want to post a secret go to post a secret</p>   
       <h3>Don't be shy, Confess your secrets here anonymously</h3>

    </div>
    
</body>
</html>